$header-height: triple($space);
$sidebar-width: 240px;
$sidebar-width-large: 300px;

// App Nav Contendor
.app-nav {
  // position: absolute;
  // top: 0;
  // right: 0;
  // width: calc(100% - #{$sidebar-width} - #{double($space)});
  height: $header-height;
  padding-right: triple($space);
  background-color: rgba(255, 255, 255, .9);
  text-align: right;
  z-index: 2;

  // max-width: $base-wrappers-width;
  // margin: 0 auto;
  // padding-left: $sidebar-width;
}

// Sidebar Contenedor
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: $space;
  transition: .5s cubic-bezier(.91, .06, .47, 1.05) transform;
  border-right: 1px solid $border-color;
  background: white;
  overflow: auto;
  z-index: 10;
  background-color: gray(gray6);
}

// Contendor principal
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $sidebar-width;
  padding-top: $header-height + $space;
  transition: .5s cubic-bezier(.91, .06, .47, 1.05) left;
}

@include media(screen) {
  .content { left: $sidebar-width-large; }
  .sidebar { width: $sidebar-width-large; }
}

@include media(portrait) {
  .content {
    position: static;
    left: 0;
    max-width: 100vw;
    padding-top: triple($space);
  }

  .sidebar {
    width: $sidebar-width-large;
    transform: translateX(-$sidebar-width-large);
  }
}
