section.cover {
  position: relative;
  display: none;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin-top: triple(-$space);
}

section.cover.show {
  display: flex;
}

section.cover.has-mask .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .8;
}

section.cover .cover-main {
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}

section.cover a {
  color: inherit;
}

section.cover a,
section.cover a:hover {
  text-decoration: none;
}

section.cover p {
  margin: 1em 0;
  line-height: 1.5rem;
}

section.cover h2 {
  @include fontsize(eta);
  color: gray(gray3);
  text-transform: uppercase;
  margin-top: double($space);
  margin-bottom: halve($space);
}

section.cover h1 {
  line-height: $space;
}

section.cover h1 a,
section.cover h2 a {
  display: block;
  cursor: default;
}

section.cover h1 small {
  display: block;
  margin-top: quarter($space);
}

section.cover blockquote {
  color: gray(gray3);
}

section.cover ul {
  max-width: 500px;
  margin: $space auto;
  padding: 0;
  list-style-type: none;
}

section.cover .cover-main>p:last-child a {
  display: inline-block;
  margin: 0 halve($space);
  padding: 0 $space;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  text-decoration: none;
  // color: gray(gray2);
  height: double($space);
  line-height: double($space);
}

// section.cover .cover-main>p:last-child a:last-child {
//   background-color: var(--theme-color, #42b983);
//   color: #ffffff;
// }

// section.cover .cover-main>p:last-child a:last-child:hover {
//   color: inherit;
//   opacity: .8;
// }

section.cover .cover-main>p:last-child a:hover {
  color: brand();
  border-color: brand();
  cursor: pointer;
}

section.cover blockquote {
  margin-bottom: $space;
}

section.cover blockquote>p>a {
  // transition: color .3s;
  // border-bottom: 2px solid var(--theme-color, #42b983);
}

section.cover blockquote>p>a:hover {
  // color: var(--theme-color, #42b983);
}
